<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Meds Edit</title>
</head>
<body class="edit">
    <div class="container-edit">
        <h1>Edit A Presciption</h1>
        <form action="/meds/<%=meds._id%>?_method=PUT" method="POST">
        <input class="new-input" type="text" name="medName" value="<%= meds.medName%>"><br>
        <input class="new-input" type="number" name="dosage" value="<%=meds.dosage%>">
        <select class="drop-down" name="measure" value="<%=meds.measure%>">
            <option value="mcg">mcg</option>
            <option value="mg">mg</option>
            <option value="mL">mL</option>
            <option value="g">g</option>
            <option value="tab">tab</option>
            <option value="tsp">tsp</option>
            <option value="tbsp">tbsp</option>
        </select>
        <input class="new-input" type="number" name="tpd" value="<%=meds.tpd%>"><br>
        <div>
            Morning: <input class="check" type="checkbox" name="morn">
            Noon: <input class="check" type="checkbox" name="noon">
            Night: <input class="check" type="checkbox" name="night"><br>
        </div>
        <input class="text-area" type="text" name="use" value="<%=meds.use%>"><br>
        <input class="new-input doc-name" type="text" name="docFirstName" value="<%=meds.docFirstName%>">
        <input class="new-input doc-name" type="text" name="docLastName" value="<%=meds.docLastName%>"><br>
        <input class="new-input" type="text" name="docOffice" value="<%=meds.docOffice%>"><br>
        <input class="new-input first" type="text" name="docStreet" value="<%=meds.docStreet%>">
        <input class="new-input" type="text" name="docTown" value="<%=meds.docTown%>"><br>
        <input class="first new-input2" type="text" name="docState" value="<%=meds.docState%>">
        <input class="new-input2" type="number" name="docZip" value="<%=meds.docZip%>"><br>
        Doctor's phone number: <input class="new-input2" type="tel" name="docPhone" value="<%=meds.docPhone%>"><br>
        <div class="new-nav">
        <input class="add-new" type="submit" value="Update Medication">
    </form>
    <form class= "new-back" action="/meds" method = "get">
        <Input type="Submit" value="Go back to meds"></Input>
    </form> 
    </div>
     </div>
</body>
</html>